.LabelPersonalizadoCampoLargo{
  background-color: rgba(152,71,125,0.5);
}

textarea{
  resize: none;
}

.BotonPersonalizado{
  background-color: rgba(152,71,125,0.5);
  border-color: rgba(152,71,125,0.5);
  color: white;
}

.BotonPersonalizado:hover{
  background-color: rgba(157,61,125,0.9);
  border-color: rgba(157,61,125,0.9);
  color: gray;
}

.BotonPersonalizado:focus, .BotonPersonalizado.focus {
  box-shadow: 0 0 0 0.2rem rgba(157,61,125,0.5);
}

.BotonPersonalizado:not(:disabled):not(.disabled):active, .BotonPersonalizado:not(:disabled):not(.disabled).active,
.show > .BotonPersonalizado.dropdown-toggle {
  background-color: rgba(157,61,125,0.9);
  border-color: rgba(157,61,125,0.9);
}

.BotonPersonalizado:not(:disabled):not(.disabled):active:focus, .BotonPersonalizado:not(:disabled):not(.disabled).active:focus,
.show > .BotonPersonalizado.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(157,61,125,0.5);
}
