*, *:before, *:after{
	margin: -0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px; /* tamaño de letra */ 
}


@-webkit-keyframes aparecer {
	from{ opacity: 0;}
	to { opacity: 1; }
}

li > ul {
	position: absolute;
	top:0%;
	left: 100%;
	width: 320px; /*tamaño del segundo nivel*/
	box-shadow: 3px 0 10px rgba(0,0,0,.2);/* x y transparencia*/ 
	-webkit-animation: aparecer .7s;
	display: none;
	overflow-y: auto;
	max-height: 50vh;
	overflow-x: hidden; 
}

ul{
	list-style: none; /* quitar forma de lista*/
	background: #f3f3f3;
}

.container{
	background: #f3f3f3;
	position: fixed;
	height: 100%;
	left: 0;
	width: 200px; /*ancho*/
	top: 0;
	box-shadow: 3px 0 10px rgba(0,0,0,.2); /*x,y */ 
	-webkit-transition: left .5s ease;
	-o-transition: left .5s ease;
	transition: left .5s ease;
	z-index: 1000;
}



#menu_principal a, label{
	color: #868686;
	display: block; 
	padding-left: 25px;
	text-decoration: none;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
#menu_principal {
	padding-top: 50%;
}

#menu_principal li {
	height: 60px;
	line-height: 60px;
	position: relative;
	width: 100%;
}

#menu_principal > li { /* distancia entre uno y otro*/
	margin: 0% 0 5% 0;
}


.invisible{
	left: -200px;
}

.derecha {
	float: right;
	line-height: 60px;
}

.principales {
	margin-right: 10px;
}

#menu_principal li:hover > a, #menu_principal li:hover > label{ /*  aqui se cambia el color */ 
	color: #fff;
	cursor: pointer;
	background-color: #2E8B57;
}

nav ul li:hover > ul {
	display: inherit;
}

[id^=drop], .mif-expand-more{
	display: none;
}

@media only screen and (max-width: 1050px), handheld and (orientation: landscape){ /* scroll */
	#menu_principal li {
		margin: auto;
		height: auto;
	}

	#menu_principal {
		padding-top: 20%;
	}

	li > ul {
		position: static;
		height: auto;
		box-shadow: none;
		padding-left: 10px;
		width: auto;
	}

	nav{
		overflow-y: auto;
		max-height: 75vh;
		overflow-x: hidden; 
	}
	.mif-expand-more{
		display: inline;
	}

	ul li .mif-chevron-right {
		display: none;
	}

	[id^=drop]:checked + ul {
		display: block;
	}

	nav ul li:hover > ul {
		display: none;
	}

}
